{{> head}}


    {{> navbar}}
        
              <div class="row">
                    <div class = "col-8"> 

                        <h1>Java</h1>
                        <p>

                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis neque similique quae quas ex expedita architecto itaque impedit ipsum alias quidem ratione laborum, aliquid, cum placeat pariatur, optio dolor quia!
                        </p>
                    </div>

                    <div class = "col-4"> 
                        <img src="assets/img/java.png" alt="img-thumbnail">
                        
                    </div>
                  </div>


                 {{> footer}}
                  